{% extends 'base.html'%}

{% load static %}

{% block title %} ¡Compra en tu tienda favorita! {% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center">Compra productos de EE.UU. y ahorra hasta un 40%</h1>
    <div class="d-inline-block" style="margin-right: 250px;">
        <p class="text-muted">Entregados por viajeros verificados de confianza</p>
    </div>
    <div class="d-inline-block" style="margin-right: 90px;">
        <p class="text-muted">Recibe tu producto de 1 a 2 semanas</p>
    </div>
    <br></br>
    <div >
        <h1 class="text-center">Añadir nuevo producto</h1>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Enviar</button>
                <a href="{% url 'Inicio' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>

    </div>

</div>



{% endblock %}